<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
</head>

<body>
    <form action="/" method="GET">
        <label for="city">Enter city:</label>
        <input type="text" id="city" name="city">
        <button type="submit">Get Weather</button>
    </form>

    <h1>Weather</h1>
    <p>Temperature: {{weather}} °C</p>
</body>

</html>